<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('register_doctor') }}" class="card-link">
            <div class="card doctor-card">
                <h2>Register as Doctor</h2>
            </div>
        </a>
        <a href="{{ url_for('register_patient') }}" class="card-link">
            <div class="card patient-card">
                <h2>Register as Patient</h2>
            </div>
        </a>
    </div>
</body>
</html>